.cart {
  width: 100%;
  display: flex;
  min-height: 80vh;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cart__upper {
  width: 70% !important;
}
.cart__lower {
  width: 70% !important;
  margin-top: 2rem;
}

.cart__header {
  font-size: 2rem !important;
  color: #666666;
}
.cart__details {
  font-size: 1.5rem !important;
  color: #666666;
}
.cart__productimage {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.cart__input {
  width: 20%;
  height: 20%;
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
}
