.cart {
  display: flex;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  overflow-x: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  padding: 1rem;
}
.cart__upper {
  width: 90% !important;
}
.cart__lower {
  width: 90% !important;
  margin-top: 2rem;
}

.cart__header {
  font-size: 2rem !important;
  color: #666666;
}
.cart__details {
  font-size: 1.5rem !important;
  color: #666666;
}

@media only screen and (max-width: 600px) {
  .cart__header {
    font-size: 1rem !important;
  }
  .cart__details {
    font-size: 1rem !important;
  }
}
tr {
  height: 40px !important;
}

td {
  height: 40px !important;
  padding: 5px !important;
  text-align: center !important;
}
