.card {
  width: 30rem;
  height: 40rem;
  margin: 1rem;
  transition: all 0.5s ease;
  cursor: pointer;
}
.card:hover {
  border-radius: 0px;
  background: #ffffff;
  box-shadow: 11px 11px 22px #ededed, -11px -11px 22px #ffffff;
}
.image {
  width: 100%;
  height: 60%;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.typography {
  padding: 1rem;
}
.typography h2 {
  font-size: 2.5rem;
  color: #6b9080;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.typography h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #6b9080;
}
.typography p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #666666;
}
