.cart__details {
  font-size: 1.2rem !important;
  color: #666666;
}
.cart__productimage {
  width: 70px;
  height: 70px;
  object-fit: contain;
}
.cart__input {
  width: 40%;
  height: 40%;
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
}
@media only screen and (max-width: 600px) {
  .cart__productimage {
    width: 85px;
    height: 85px;
    object-fit: contain;
  }
  .cart__input {
    width: 50%;
    height: 40%;
  }
}
