.slider {
  width: 100%;
  height: 70vh;
}

.slider__content {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  transition: all 1.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.slider__content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  opacity: 0.6;
}
.slider__typography {
  color: white;
  z-index: 3;
  width: 70%;
  transition: all 1.5s ease-in-out;
}
.slider__typographyHeader {
  font-size: 4rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
.slider__typographyBody {
  font-size: 2rem;
  font-weight: 400;
  backface-visibility: hidden;
}

.slider__icon {
  font-size: 2.5rem !important;
}
@media only screen and (max-width: 600px) {
  .slider {
    height: 55vh;
  }

  .slider__typographyHeader {
    font-size: 3rem;
    font-weight: 700;
  }
  .slider__typographyBody {
    font-size: 1.3rem;
    font-weight: 400;
  }
  .slider__typography {
    width: 80%;
  }
}
